{% extends "history/base.html" %}

{% block content %}

<p>Choose an Artist to See A Few of Their Songs:</p>

    <ul>
    {% for artist in artist_list %}
        <li>
            <!-- <a href="/{{ artist.id }}"> -->
            <a href="{% url 'history:detail' artist.id %}">
                {{ artist.name }}
            </a>
        </li>
    {% empty %}
        <li>No artists have been added yet.</li>
    {% endfor %}
    </ul>

    <a href="{% url 'history:new_artist' %}">Add a New Artist</a>


{% endblock content %}




